<!DOCTYPE html>
<html>
    <head>
        <title> index</title>
    </head>
    <body>
        <h1><%= results %></h1>
        <button><a href='/anime'>výpis</a></button>
        <button><a href='/newuser'>nový</a></button>

    </body>
</html>