<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrace</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url('https://i.pinimg.com/originals/3c/7a/fc/3c7afc1b68c0f8cc367dd9d0f1f383de.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        form {
            max-width: 300px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
        }
        button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 3px;
            background-color: #52289f;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }
        button:hover {
            background-color: #6331c0;
        }
    .submit-button {
        display: inline-block;
        padding: 5px 20px;
        margin-top: 10px;
        background-color: #00aaff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
    }

    .submit-button:hover {
        background-color: #0088cc;
    }
    .checkbox-container {
            display: flex;
            align-items: center;
            padding: px; /* Adjust padding */
    }

    .checkbox-label {
        color: white;
        font-size: 12px; /* Adjust font size */
        margin-left: 10px; /* Add some margin between label and checkbox */
        cursor: pointer; /* Make the label cursor pointer */
    }

    .checkbox-label:hover {
        text-decoration: underline; /* Add underline on hover */
    }

    input[type="checkbox"] {
        align-items: center;
        width: 15px; /* Adjust width */
        height: 15px; /* Adjust height */
        margin: 0; /* Remove margin */
        padding: 0; /* Remove padding */
    }
    </style>
</head>
<body>
    <form action="/register" method="POST">
        <h3>Registrace</h3>
        <label for="username">Uživatelské jméno:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Heslo:</label>
        <input type="password" id="password" name="password" required>
        <div class="checkbox-container">
            <label class="checkbox-label" for="showPassword">Zobrazit heslo</label> <!-- Add the label for the checkbox -->
            <input type="checkbox" id="showPassword" style="margin-left: 10px;"> <!-- Add the checkbox -->
        </div>
        <br>
        <button type="submit">Registrovat se</button>
        <a href="/login" class="submit-button">Již mám účet</a>
    </form>
    <script>
        const showPasswordCheckbox = document.getElementById('showPassword');
        const passwordInput = document.getElementById('password');

        showPasswordCheckbox.addEventListener('change', () => {
            passwordInput.type = showPasswordCheckbox.checked ? 'text' : 'password';
        });
    </script>
</body>
</html>
