<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Username</title>
</head>
<body>
    <h1>Update Your Username</h1>
    <form method="post" action="/update-username">
        <label for="newUsername">New Username:</label>
        <input type="text" id="newUsername" name="newUsername" required>
        <button type="submit">Update Username</button>
      </form>
    <a href="/kok">Back to Kok</a>
</body>
</html>
